<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @client.age %>
</p>

<p>
  <strong>Gênero:</strong>
  <%= @client.gender %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
